<div id="grad1">

    <h1>NBA Tracker: Keep track of your favorite NBA teams!</h1>
    <div *ngIf="!selected">
        <table class="table table-hover">
            <thead>
                <th>Team</th>
                <th>Roster</th>
                <th>Logo</th>
                <th>Twitter</th>
                <th>City</th>
                <th>Venue</th>
                <th>Conference</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <tr *ngFor="let team of teams">
                    <td (click)="displayTeam(team);">{{team.name}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let player of team.roster">{{player.firstName}} {{player.lastName}}</li>
                        </ul>
                    </td>
                    <td>
                        <img [src]="team.logoUrl" width="90" height="90">
                    </td>
                    <td><a href="team.twitterUrl">{{team.name}} Twitter</a></td>
                    <td>{{team.city}}</td>
                    <td>{{team.venue}}</td>
                    <td>{{team.conference}}</td>
                    <td *ngIf="team.id"><input type="button" value="Delete" class="btn btn-danger" style="background-color: red;" (click)="deleteTeam(team.id)"></td>                 
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>{{conferenceSplit}}</td>
                </tr>
            </tfoot>
        </table>  
        
        <form class="">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Team Name: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" [(ngModel)]="newTeam.name">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Logo url: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="logoUrl" [(ngModel)]="newTeam.logoUrl">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Twitter url: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="twitterUrl" [(ngModel)]="newTeam.twitterUrl">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">City: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="city" [(ngModel)]="newTeam.city">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Venue: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="venue" [(ngModel)]="newTeam.venue">
                </div>
            </div>
            <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0">Conference: </legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="conferenceWest" id="gridRadios1" value="Western" [(ngModel)]="newTeam.conference">
                        <label class="form-check-label" for="gridRadios1">
                            Western
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="conferenceEast" id="gridRadios2" value="Eastern" [(ngModel)]="newTeam.conference">
                        <label class="form-check-label" for="gridRadios2">
                            Eastern
                        </label>
                    </div>
                </div>
            </fieldset>
            <input class="btn btn-primary" type="submit" name=submit (click)="addTeam(newTeam)">
        </form>
        
        
        
        <!--  /////////////// -->
        <!-- ////OG FORM//// -->
        <!--/////////////// -->
        <!-- <form class="">
            <label>Team Name: </label><input type="text" name="name" [(ngModel)]="newTeam.name"><br>
            <label>Logo url: </label><input type="text" name="logoUrl" [(ngModel)]="newTeam.logoUrl"><br>
            <label>Twitter url: </label><input type="text" name="twitterUrl" [(ngModel)]="newTeam.twitterUrl"><br>
            <label>City: </label><input type="text" name="city" [(ngModel)]="newTeam.city"><br>
            <label>Venue: </label><input type="text" name="venue" [(ngModel)]="newTeam.venue"><br>
            <label>Conference: </label><input type="radio" name="conferenceWest" value="Western" [(ngModel)]="newTeam.conference">Western
            <input type="radio" name="conferenceEast" value="Eastern" [(ngModel)]="newTeam.conference">Eastern<br>
            <input class="btn btn-primary" type="submit" name=submit (click)="addTeam(newTeam)">
        </form> -->
        
        
        
        
    </div>
    
    <div *ngIf="selected">
        <div *ngIf="!editTeam" id="displayTeamInfo">
            <h1 id="displayTeamName">{{selected.name}}</h1><br>
            <img [src]="selected.logoUrl" width="90" height="90">
            <h3>Team Info:</h3>
            <p>Conference: {{selected.conference}}</p>
            <p>City: {{selected.city}}</p>
            <p>Venue: {{selected.venue}}</p>
            <p><a href="selected.twitterUrl">{{selected.name}} Twitter</a></p>
            
            <button class="btn btn-secondary" (click)="displayTable();">Back</button>
            <button class="btn btn-primary" (click)="setEditTeam();">Edit Team</button>
        </div>
        <div *ngIf="!editTeam">
            <h2>Roster:</h2>
            <table class="table table-sm">
                <thead>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Position</th>
                    <th>Height(in)</th>
                    <th>Weight(lbs)</th>
                    <th>PPG</th>
                    <th>APG</th>
                    <th>RPG</th>
                    <th>Salary(M)</th>
                </thead>
                <tbody>
                    <tr *ngFor="let player of selected.roster">
                        <td>{{player.firstName}} {{player.lastName}}</td>
                        <td>{{player.number}}</td>
                        <td>{{player.position}}</td>
                        <td>{{player.height}}</td>
                        <td>{{player.weight}}</td>
                        <td>{{player.points}}</td>
                        <td>{{player.assists}}</td>
                        <td>{{player.rebounds}}</td>
                        <td>{{player.salary}}</td>
                    </tr>
                </tbody>
                <!-- <tfoot>
                    <tr>
                        <td>AVG ASSISTS</td>
                        <td>AVG POINTS</td>
                        <td>AVG REBOUNDS</td>
                        <td>TOTAL SALARY</td>
                    </tr>
                </tfoot> -->
            </table>
            
        </div>
        <div *ngIf="editTeam">
            <form>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Name: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" [(ngModel)]="editTeam.name">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Logo url: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="logoUrl" [(ngModel)]="editTeam.logoUrl">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Twitter url: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="twitterUrl" [(ngModel)]="editTeam.twitterUrl">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">City: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="city" [(ngModel)]="editTeam.city">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Venue: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="venue" [(ngModel)]="editTeam.venue">
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Conference: </legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="conferenceWest" id="gridRadios1" value="Western" [(ngModel)]="editTeam.conference">
                            <label class="form-check-label" for="gridRadios1">
                                Western
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="conferenceEast" id="gridRadios2" value="Eastern" [(ngModel)]="editTeam.conference">
                            <label class="form-check-label" for="gridRadios2">
                                Eastern
                            </label>
                        </div>
                    </div>
                </fieldset>
                <input type="button" class="btn btn-secondary" (click)="cancelEditTeam();" value="Cancel">
                <input type="button" class="btn btn-primary" (click)="updateTeam(editTeam)" value="Save">
            </form>
            <!-- EDIT TEAM FORM BACK UP -->
            <!-- <form>
                <label>Name: </label><input type="text" name="name" value={{selected.name}} [(ngModel)]="editTeam.name"><br>
                <label>Logo url: </label><input type="text" name="logoUrl" [(ngModel)]="editTeam.logoUrl"><br>
                <label>Twitter url: </label><input type="text" name="twitterUrl" [(ngModel)]="editTeam.twitterUrl"><br>
                <label>City: </label><input type="text" name="city"value={{selected.city}} [(ngModel)]="editTeam.city"><br>
                <label>Venue: </label><input type="text" name="venue" value={{selected.venue}} [(ngModel)]="editTeam.venue"><br>
                <label>Conference: </label><input type="text" name="conference" value={{selected.conference}} [(ngModel)]="editTeam.conference"><br>
                <input type="button" (click)="cancelEditTeam();" value="Cancel">
                <input type="button" (click)="updateTeam(editTeam)" value="Save">
            </form> -->
        </div>
    </div>
</div>

