



.carouselImage{
    height: 32rem;
    display: block;
    position: relative;
    float: left;
    margin-left: 35%;
    margin-right: auto;

}

.picsum-img-wrapper{
    width: 250px;
    height: 250px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#carouselDiv{
    background: linear-gradient(rgb(36, 36, 36), black);
    margin-left: -12px;
    margin-right: -12px;
    /* padding-bottom: 25px; */
}

#teamTable{
    width: 90%;
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#tableDiv{
    background: linear-gradient(black, rgb(0, 7, 107));

}
