img.headerLogo {
    object-fit: cover; /* Do not scale the image */
    object-position: 80%, 80%; /* Center the image within the element */
    width: 130%;
    height: 130px;
    margin-top: -10mm;
    margin-right: -10mm;
    margin-bottom: -8mm;
    display: flex;
    justify-content: center;
  }